.info__container {
  background: #fff;
  border-radius: 10px;
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 10px;
}

.info__wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.info__name {
  font-size: clamp(28px, 8vw, 90px);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px;
  text-align: center;
}

.info__artist {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.info__cover {
  width: 100%;
  max-width: 340px;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 16px;
  flex-shrink: 0;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
  margin: 0 auto;
}

.info__cover:hover {
  transform: scale(1.08);
}

.info__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.info__year {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.release-type {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 12px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #000;
  width: fit-content;
  padding: 2px 5px;
  margin-bottom: 15px;
  color: #fff;
}

.info-actions {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .release-type {
    margin-left: auto;
    margin-right: auto;
  }
}

/* адаптив */

@media (min-width: 768px) {
  .info__container {
    padding: 24px 32px;
    margin-top: 24px;
  }

  .info__wrapper {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    text-align: left;
  }

  .info__name,
  .info__year {
    text-align: left;
  }

  .info__flex,
  .info-actions {
    justify-content: flex-start;
  }

  .info__cover {
    max-width: 220px;
    margin: 0;
  }

  .info__artist {
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  .info__container {
    padding: 40px 50px;
    margin-top: 30px;
  }

  .info__wrapper {
    gap: 60px;
  }

  .info__cover {
    max-width: 340px;
  }

  .info__artist {
    font-size: 34px;
  }

  .info__year {
    font-size: 28px;
  }
}
